name: Test
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
      # - name: Install dependencies
      #   run: npm ci
      - uses: cypress-io/github-action@v4
        with:
          working-directory: examples/cypress10
      - uses: actions/upload-artifact@v3
        with:
          name: cypress-odiff-diffs
          path: examples/cypress10/cypress/snapshots/**/*.diff.png
          if-no-files-found: error